@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Courier New';
}

.img-1 {
  width: 50px;

}

.Table-container {
  background-color: #252525;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  row-gap: 30px;
  padding-left: 9rem;
}

.main-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 75px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding-top: 10px;
}

.fa-solid {
  background-color: #001880;
  padding: 10px 30px;
  border-radius: 20px;
}

.fa-solid:hover {
  cursor: pointer;
  background-color: #0221ab;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

tbody>tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 90px;
}

.product-btns {
  display: flex;
  align-items: flex-end;
}

.product-btn {
  padding: 10px;
  margin-left: 10px;
  background-color: teal;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

button {
  background: transparent;
  border: none;
  color: aliceblue;
}

button>.product-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}